{% extends "base.html.twig" %}

{% block title %}Cadastro de usuário{% endblock %}

{% block body %}
  <p class="msgErro">Oops <strong>{{ fulano }}</strong>! Falha ao se cadastrar.</p>
  <a href="{{ url('web_usuario_index') }}">Voltar</a>
{% endblock %}
