{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block title %}Cadastro de usuário{% endblock %}

{% block topo %}
  <div class="topo">
    <img src="{{ asset('img/logo-dio.png') }}">
  </div>
{% endblock %}

{# formulário de cadastro de usuário #}
{% block body %}
  <form method="POST" action="{{ url('web_usuario_salvar') }}>
    <input type="text" name="nome" placeholder="Nome">
    <input type="email" name="email" placeholder="E-mail">

    <button type="submit">Salvar</button>
  </form>
{% endblock %}
